.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .forgot-password-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password-input {
    width: 75%;
    margin: 1rem;
  }
  
  .forgot-password-button {
    width: 75%;
    margin: 1rem;
    background-color: #4caf50;
    color: white;
    &:hover {
      background-color: #388e3c;
    }
  }
  
  .forgot-password-message {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  